[Desktop Entry]
Version=1.1
Type=Application
Name=Desktop Linux Themer
Comment=Theme GNOME, Cinnamon, Budgie and XFCE
Icon=preferences-desktop-theme
Exec=/usr/bin/env python3 /usr/bin/desktop_linux_themer.py
Actions=
Categories=DesktopSettings;Settings;Utility;
StartupNotify=true
